@page "/FileUpload"
@attribute [Authorize]  
@using Crud_Blazor.Services
@using System.IO
@inject IFileUpload fileUpload
    <div class="file-upload-content">
        <BlazorInputFile.InputFile OnChange="HandleFileSelected" />
    </div>

    @code {
        IFileListEntry file;

        async Task HandleFileSelected(IFileListEntry[] files)
        {
            file = files.FirstOrDefault();
            if (file != null)
            {
                await fileUpload.Upload(file);
            }
        }
    }